<style type="text/css">

//言語切り替え表示のデフォルトスタイル
a[data-stt-changelang] {
  margin:0 7px;
}

//アクティブなテキストのスタイル
a[data-stt-active] {
  text-decoration:none;
  font-weight:bold;
}

.font_en {
  font-family: fantasy;
}

.font_ko {
  font-family: fantasy;
}

.font_ja {
  font-family: serif;
}

.inline-block-test > span {
  display: inline;
}

.slideshow {
  position: relative;
  top: 0;
  left: 0;
  width: 1262px;
  height: 100%;
}

.tag[data-v-de901a6a] {
    padding: 0 0.2rem;
    color: #fff;
    font-size: 11px;
    margin-right: 0.3rem;
    display: inline-block;
    border-radius: 3px;
}

.stt-changelang-disabled:hover + .alert-text {
  text-decoration: line-through;
  display: block
}

.alert-text {
  display: none;
  width: 200px;
  position: absolute;
  top: 0;
  left: 250px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
}

<style>
