<style type="text/css">

//言語切り替え表示のデフォルトスタイル
a[data-stt-changelang] {
  margin:0 7px;
}

//アクティブなテキストのスタイル
a[data-stt-active] {
  text-decoration:none;
  font-weight:bold;
}

.font_en {
  font-family: fantasy;
}

.font_ko {
  font-family: fantasy;
}

.font_ja {
  font-family: serif;
}

.inline-block-test > span {
  display: inline;
}

.slideshow {
  position: relative;
  top: 0;
  left: 0;
  width: 1262px;
  height: 100%;
}

.tag[data-v-de901a6a] {
    padding: 0 0.2rem;
    color: #fff;
    font-size: 11px;
    margin-right: 0.3rem;
    display: inline-block;
    border-radius: 3px;
}

/* カーソルを重ねる要素 */
.tooltip {
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
}

/* ツールチップのテキスト */
.tooltip-text {
  opacity: 0; /* はじめは隠しておく */
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 親に対して中央配置 */
  transform: translateX(-50%); /* 親に対して中央配置 */
  bottom: -30px; /* 親要素下からの位置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  white-space: nowrap; /* テキストを折り返さない */
  font-size: 0.8rem; /* フォントサイズ */
  line-height: 1.3; /* 行間 */
  background: #333; /* 背景色 */
  color: #fff; /* 文字色 */
  border-radius: 3px; /* 角丸 */
  transition: 0.3s ease-in; /* アニメーション */
}

/* ホバー時にツールチップの非表示を解除 */
.data-stt-changelang-disabled:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

<style>
